*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0, 0.4);
    color: aliceblue;
    position: sticky;
    top: 0;
    z-index: 100;
}
.hero {
    height: 300px;
    background-color: rgb(205, 231, 222);
    display: flex;
    align-items: center;
    justify-content: center;
}


.caja {
    height: 200px;
    background-color: aquamarine;
    border: 2px solid black;
}